<h2>Add Actor</h2>
<form #f="ngForm">
  <div class="form-group">
    <label for="firstName">Firstname</label>
    <input id="firstName" #n="ngModel" [(ngModel)]="actor.firstName" class="form-control" minlength="3" name="firstName"
           pattern="[a-zA-Z]+$"
           placeholder="Enter your Firstname"
           required type="text">
    <div *ngIf="n.invalid && n.touched " class="alert alert-danger">
      <div *ngIf="n.errors.required">Fistname is a required field</div>
      <div *ngIf="n.errors.minlength"> error: minlength is equal to 3</div>
      <div *ngIf="n.errors.pattern"> error: pattern</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Lastname</label>
    <input id="lastName" #m="ngModel" [(ngModel)]="actor.lastName" class="form-control" minlength="3" name="lastName"
           pattern="[a-zA-Z]+$"
           placeholder="Enter your Lastname"
           required type="text">
  </div>
  <div *ngIf="m.invalid && m.touched " class="alert alert-danger">
    <div *ngIf="m.errors.required">Lastname is a required field</div>
    <div *ngIf="m.errors.minlength"> error: minlength is equal to 3</div>
    <div *ngIf="m.errors.pattern"> error: pattern</div>
  </div>
  <button (click)="save()" [disabled]="f.invalid"
          class="btn btn-primary"
          type="submit">
    Add Actor
  </button>
</form>

