<h1 xmlns="http://www.w3.org/1999/html">{{ title }}</h1>
<h1>Search Product</h1>
<button (click)="sum()">Calculate</button>
<p>{{somme}}</p>
<br>
<label>
  <input [(ngModel)]="priceMax" class="form-control" name="price" type="number">
</label>
<br>
<app-form-product (saveEvent)="save($event)">

</app-form-product>
<div class="row">
  <app-product (deleteEvent)="deleteProduct($event)" (likeEvent)="incrementLike($event)" *ngFor="let  p of list"
               [pChild]="p"
               [price]="priceMax">

  </app-product>
</div>

<hr>

